
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="../../../assets/img/DUOC.png" alt="logo_empresa">
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Log In</ion-card-title>
    </ion-card-header>

    <ion-card-content>
  <div>
    <div>
      <ion-label class="center-content">Login</ion-label>
      <ion-input class="center-content" fill="outline" shape="round" labelPlacement="floating" label="Username" [(ngModel)]="userLoginModal.usuario"></ion-input>
      <ion-input type="password" class="center-content" style="margin-top: 20px;" fill="outline" shape="round" labelPlacement="floating" label="Password"[(ngModel)]="userLoginModal.password"></ion-input>
    </div>
    <div>
      
      <!--
        Navigación con una función.
      -->
      <ion-button color="success" (click)="userLogin(userLoginModal)"shape="round" type="button" expand="block">Login</ion-button>
      <ion-button color="success" (click)="nextpage()" shape="round" type="button" expand="block">Registro</ion-button>
    </div>

  </div>
  </ion-card-content>
</ion-card>
</ion-content>
<!--
  Docs
  https://ionicframework.com/docs/angular/navigation
-->
