<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>Estudiante:{{data.nombre}}</h1>

    <ion-button (click)="cerrarSesion()" color="success" type="button" expand="block" shape="round">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true">
<ion-row>
  <ion-col>
    <ion-card>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../../../assets/img/DUOC.png" alt="logo_empresa">
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Seccion</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">asistencia</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block"  color="success" shape="round">
              Limpiar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" shape="round">
              Agregar asistencia
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-col>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-col>
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            rut: 
            <br>
            asistencia:
          </ion-card-content>
        </ion-col>
        <ion-row>
          <ion-col size="6"> 
            <ion-button color="warning" expand="block"  shape="round">Editar</ion-button> 
          </ion-col>
          <ion-col size="6"> 
            <ion-button  expand="block" color="danger"  shape="round">Borrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    
  </ion-row>
</ion-row>

</ion-content>