<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>profesor:</h1>
    <h2>Jorge</h2>
    <ion-button id="Alerta" slot="end">Cambio Contraseña</ion-button>
    <ion-alert
      trigger="Alerta"
      header="Por favor ingrese sus datos"
      [buttons]="alertButtons"routerLink="['/login']"
      [inputs]="alertInputs"
    ></ion-alert>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Lenguaje</ion-label>
        <ion-label slot="end">5 clases</ion-label>
        <ion-button> Editar</ion-button>
        <button></button>
      </ion-item>
      <ion-item>
        <ion-label>Matematicas</ion-label>
        <ion-label slot="end">4 clases</ion-label>
        <ion-button> Editar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Ingles</ion-label>
        <ion-label slot="end">3 clases</ion-label>
        <ion-button> Editar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Historia</ion-label>
        <ion-label slot="end">7 clases</ion-label>
        <ion-button> Editar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Ciencias naturales</ion-label>
        <ion-label slot="end">3 clases</ion-label>
        <ion-button> Editar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>
